{% extends "chat/layout.html" %}
{% load static %}

{% block head %}
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'chat/ws.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h4>{{ room_name.capitalize }}</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {#            <div class="content-section" hidden>#}
            {#                <div class="form-group">#}
            {#                    <textarea id="chat-log" class="form-control" cols="100" rows="20" disabled></textarea><br>#}
            {#                    <input id="chat-message-input" class="form-control" type="text" size="100"><br>#}
            {#                </div>#}
            {#                <button id="chat-message-submit" type="button" class="btn btn-primary">Send</button>#}
            {#            </div>#}

            <div class="content-section">
                <div id="message-container" class="overflow-auto" style="max-height: 100%;"></div>
                <div>
                    <div class="form-group">
                        <input id="chat-message-input" class="form-control" type="text" size="100"><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center"
                                    type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Friends
                                <span class="badge badge-primary badge-pill"
                                      id="friend-count">{{ friends.count }}</span>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% for friend in friends %}
                                <li id="username">
                                    <a id="{{ friend.user.id }}" href="#">
                                        {{ friend.user.username }}
                                    </a>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center collapsed"
                                    type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Friend Requests<span
                                    class="badge badge-primary badge-pill"
                                    id="fr-count">{{ friend_requests.count }}</span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for fr in friend_requests %}
                                    <li class="list-group-item" id="{{ fr.from_user.username }}">
                                        {{ fr.from_user.username }}
                                        <button type="button" class="btn-sm btn-primary" id="accept">Accept</button>
                                        <button type="button" class="btn-sm btn-danger" id="reject">Reject</button>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center collapsed"
                                    type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Add a friend
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <input id="friend-search" type="text" class="form-control"
                                               placeholder="Enter a username...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}