body {
    height: 100vh;
    max-height: 100vh;
}

header {
    margin-bottom: 1.5rem;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.list-group:hover {
    background-color: deepskyblue;
}


.article-img {
    width: 3% !important;
    min-width: 50px;
}

#message {
    color: black;
}

#message-container {
    max-height: 80vh;
    overflow-y: scroll;
}