body {
    height: 100%;
    background-color: #fafafa;
}

header {
    margin-bottom: 1.5rem;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.list-group:hover {
    background-color: deepskyblue;
}


.article-img {
    width: 8% !important;
}